*{
  margin: 0;
  padding: 0;
}
body {
  font-family: Verdana, sans-serif;
}

/* HEADER SECTION */
h1 {
  color: #404040;
  font-size: 2.7em;
}

h2 {
  color: #404040;
  font-size: 1.5em;
  font-weight: lighter;
}

a {
  text-decoration: none;
}

header {
  background-color: #fff;
  position: fixed;
  height: 64px;
  width: 100%;
  z-index: 1;
  align-items: center;
}

.flex-container {
  display: flex;
}

.logo {
  margin-left: 24px;
}

nav {
  flex-grow: 1;
  text-align: right;
  margin-right: 24px;
}

nav a {
  padding-right: 8px;
  padding-left: 8px;
  text-decoration: none;
  color: #808080;
}

.logo p {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
}

span {
  color: #808080;
  font-weight: 300;
}

.nav-mbl {
  display: none;
}

/* BANNER SECTION */

.banner {
  background-color: #D3D3D3;
  padding-top: 64px;
}

.left {
  padding: 32px 24px;
  width: 60%;
  height: auto;
}

.left img {
  width: 100%;
  height: auto;
}

.right {
  padding: 32px 24px;
  width: 40%;
}

.wrap-banner {
  width: 30%;
  margin: auto;
  padding-right: 10%;
  padding-left: 3%;
}

.btn {
  text-align: center;
  color: #fff;
  background-color: #404040;
  width: 95%;
}

.btn p {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1.4em;
}

/* INFO SECTION */

.info h1 {
  font-size: 2.4vw;
}

.left p {
  color: #A0A0A0;
  font-weight: light;
}

.thumbnail {
  height: 32%;
}

.thumbnail-txt {
  margin: auto;
  width: 65%;
  height: auto;
}

.thumbnail img {
  width: 35%;
  height: auto;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}

#title {
  color: #404040;
  font-size: 1.7vw;
  font-weight: bolder;
  margin: 0px;
}

.thumbnail p {
  font-size: 1.1vw;
  color: #909090;
  margin-top: 8px;
  margin-bottom: 8px;
}

.thumbnail a {
  color: #3299CC;
  font-size: 1.1vw;
  margin: 0px;
}

.start-learning {
  background-color: #F5F5F5;
}

.wrap {
  padding: 32px 72px;
}

.start-learning h1 {
  font-size: 2.4vw;
  text-align: center;
}
/* COURSES SECTION */
.courses {
  flex-wrap: wrap;
}

.text-wrap {
  padding: 16px;
}

.item {
  background-color: #fff;
  width: 30%;
  margin: 16px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 25%;
}

.item img {
    width: 100%;
    height: auto;
}

.item p {
  color: #A0A0A0;
  font-weight: 100;
  font-size: 1.2em;
}

/* THESIS SECTION  */

.thesis h1 {
    text-align: center;
    margin-bottom: 0;
}

.thesis video {
  width: 100%;
  height: auto;
}

.thesis h2 {
  font-weight: bold;
}

.exhibit-thumbnail img {
  width: 35%;
  height: auto;
  padding: 16px;
}

.exhibit-thumbnail p {
  font-size: 1.1vw;
  color: #909090;
  margin-top: 8px;
  margin-bottom: 8px;
}

/* FOOTER SECTION */

.footer {
  border-top: 1px solid gray;
}

.footer p {
  color: #909090;
}

.copyright {
    margin-left: 24px;
}

.terms {
  text-align: right;
  margin-right: 24px;
  flex-grow: 1;
}

/* MOBILE DESIGN */


@media only screen and (max-width: 768px) {
  /* NAVIGATION BAR */
  .nav-dsk {
    display: none;
  }
  .nav-mbl {
    display: flex;
    justify-content: space-around;
  }
/* BANNER */
  .left {
    padding: 0;
  }
  
}
